<div class="model-popup">
    <div class="modal-header">
        <h4 class="modal-title">{{'ALERT_DETAILS'|translate}}</h4>
        <a title="{{'CLOSE'|translate}}" class="popup-close-icon close" ng-click="cancel()">
            <span class="close-icon">&nbsp;</span>
        </a>
    </div>

    <div class="modal-body">
        <span class="fa fa-info-circle fa-2x"></span>&nbsp;&nbsp;<span>{{errorMessage}}</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">{{'OK'|translate}}</button>
    </div>
</div>
