<style>
    .panel-info {
        border-color: #fff;
    }
    .panel {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
    }
</style>
<form  name = "login" > 
    <div class="row">
        <div class= " col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
            <div class="panel panel-info col">
                <div class="panel-heading">
                    <span class="fa fa-user"></span>
                    <span class="panel-title">{{'CHANGE_PASSWORD'| translate}}</span>
                    <span class="fa fa-times pull-right clickable" ng-click="cancel()" ></span>
                </div>
                <div class="panel-body">
                    <div class="row form-group"> 
                        <div style="padding-top:15px" class="panel-body">
                            <div ng-show="user.badCrd === true || user.badCrd === 'true'" id="login-alert" class="alert alert-danger col-sm-12">{{'BAD_PASSWORDS'| translate}}</div>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input required type="email" id="j_username" name="username" ng-model="user.username" title="{{'TITLE_USER_NAME'|translate}}" placeholder="{{'EMAIL_ADDR'| translate}}" class="form-control" />
                            </div>
                            <div class="angError" ng-show="login.username.$dirty && login.username.$error.required">
                                {{'UN_REQ'| translate}}</div>
                            <div class="angError" ng-show="login.username.$dirty && login.username.$invalid">
                                {{'UN_INV'| translate}}</div>
                            <div style="margin-top: 15px" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/" title="{{'TITLE_OLD_PASS'|translate}}" required type="password" id="oldpassword" name="oldpassword" ng-model="user.password"  placeholder="{{'OLDPASSWORD'| translate}}" class="form-control"/>
                            </div>
                            <div class="angError" ng-show="login.oldpassword.$dirty && login.oldpassword.$error.required">
                                {{'PS_REQ'| translate}}</div>
                            <div class="angError" ng-show="login.oldpassword.$dirty && login.oldpassword.$invalid">
                                {{'PS_INV'| translate}}</div>

                            <div style="margin-top: 15px" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/" required type="password" id="changepassword" name="changepassword" ng-model="user.newPassword"  placeholder="{{'NEWPASSWORD'| translate}}" title="{{'TITLE_PASSWORD'|translate}}" class="form-control"/>
                            </div>
                            <div class="angError" ng-show="login.changepassword.$dirty && login.changepassword.$error.required">
                                {{'PS_REQ'| translate}}</div>
                            <div class="angError" ng-show="login.changepassword.$dirty && login.changepassword.$invalid">
                                {{'PS_INV'| translate}}</div>
                            <div style="margin-top: 15px" class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input ng-pattern="/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,15}$/" required type="password" id="confirmpassword" name="confirmpassword" ng-model="user.confirmPassword"  placeholder="{{'CONFIRMPASSWORD'| translate}}" title="{{'TITLE_PASSWORD'|translate}}" class="form-control"/>
                            </div>
                            <div class="angError" ng-show="login.confirmpassword.$dirty && login.confirmpassword.$error.required">
                                {{'PS_REQ'| translate}}</div>
                            <div class="angError" ng-show="login.confirmpassword.$dirty && login.confirmpassword.$invalid">
                                {{'PS_INV'| translate}}</div>                   
                            <div style="margin-top:15px" class="form-group">
                                <!-- Button -->
                                <div class="col-sm-2 controls padding-10 pull-right">    <a id="btn-cancelPassword" class="btn btn-warning pull-right margin10px" ng-disabled="login.$invalid" ng-click="clearPassword()" > {{'RESET'| translate}}</a> 
                                </div>
                                <div class="col-sm-2 controls padding-10 pull-right">
                                    <a id="btn-saveDoctor" class="btn btn-success pull-right margin10px" ng-disabled="login.$invalid" ng-click="updatePassword()" >{{'SAVE'| translate}}</a>
                                </div>
                            </div>
                        </div>                    
                    </div> 
                </div>
            </div>
        </div>
    </div>
</form>     
